@import 'remixicon/fonts/remixicon.css';
@import "tailwindcss";




@theme  {
   /* light theme */
  --bg-primary: #fafafa;      
   --bg-secondary: #f5f1d7;    
   --text-default: #0D0D0D;    
   --color-accent: #9B87F5;
   --color-border: #E4E4E4;

   /*Dark theme */
   --dark-bg-primary: #0D0D0D;
   --dark-bg-secondary: #2A2A2A;
   --dark-text-default: #EAEAEA;
   --dark-color-accent: #A893F9;
   --dark-color-border-dark: #2A2A2A;
}

@layer base {
   body {
      background-color: var(--color-background);
      color: var(--color-text);
      font-family: var(--font-body);
   }

   .dark{
      --bg-primary: var(--dark-bg-primary); 
      --text-default: var(--dark-text-default);
      --bg-secondary: var(--dark-bg-secondary);
      --color-accent: var(--dark-color-accent);
   }
}